<div class="wrapper row3">
    <div class="rounded" >
        <main class="container clear">
            <!-- main body -->
            <!-- ################################################################################################ -->
            <!-- ################################################################################################ -->
            <!-- ################################################################################################ -->

            <!-- ################################################################################################ -->
            <h1 style="font-family: Arial, Helvetica, sans-serif; font-weight: 900;">Dr. Chen Kuan Chou – Assistant Professor</h1>
            <img class="imgr borderedbox people-thumb-image" src="asset/img/people/chenkuanchou.jpg" alt="CHEN, Kuan Chou, Kenneth " height="149" width="195">

            <div class="bio">
                <p>Ph.D. in Sport Management, University of Georgia, USA <br>
                M.Sc. in Sport Management, University of Florida, USA  <br>
                M.Ed. in Sport Pedagogy, Taipei Physical Education College, Taiwan <br>
                M.Sc. in Biology, Tunghai University, Taiwan<br>
                B.Sc. in Biology, National Taiwan Normal University, Taiwan <br>
                    <br>

                    <div class="class-title">Research Focus</div></p>
                <ul>
                    <li class="research-entry">Sport Marketing
                        <br><br>
                    </li>
                </ul>

                <p><div class="class-title">Honours</div></p>
                <ul>
                    <li class="research-entry">Graduate School Ph.D. Scholars of Excellence Fellowship ($38,000) (2011-2013). The University of Georgia, Athens, GA.</li>
                    <li class="research-entry">William C. Friday Graduate Student College Sport Research Paper Award 2nd place (2010). The College Sport Research Institute (CSRI), Chapel Hill, NC.</li>
                    <li class="research-entry">International Center Achievement Award (2008). The University of Florida, Gainesville, FL.</li>
                </ul>
                <p>&nbsp;          </p>
                <p><div class="class-title">Recent Publications</div><br>
                    <div class="class-title">Journal Articles:</div></p>
                <ul>
                    <li class="research-entry">Yu , H. S., Zhang, J. J., Kim, D. H.,<strong> Chen, K. K.</strong>, Min, S. D., &amp; Huang, H. (2014). <em>Service Quality, Perceived Value, Customer Satisfaction, and Behavioral Intentions among Elderly Consumers at a Sport and Fitness Center.</em> Social behavior and personality, 42(5), 752-768.</li>
                    <li class="research-entry"><strong>Chen, K. K.</strong> and Zhang, J. J. (2012). <em>To name it or not name it: Consumer perspectives on facility naming rights sponsorship in Collegiate Athletics. </em>Journal of Issues in Intercollegiate Athletics, 5, pp. 119-148.</li>
                    <li class="research-entry"><strong>Chen, K. K.</strong> and Zhang, J. J. (2011). <em>Examining consumer attributes associated with collegiate athletic facility naming rights sponsorship: Development of a theoretical framework.</em> Sport Management Review, 14(2), pp. 103-116.</li>
                </ul>
                <br>
                <div class="class-title">Technical Research Report:</div>
                <ul>
                    <li class="research-entry">Baker, T. A., Byon, K. K., *Mao, L., <strong>*Chen, K. K.</strong>, *Russo, A. and Nuckles, M. (2011). <em>21st CCLC after school project (2009-2010) technical report.</em> University of Florida, Gainesville, FL.</li>
                </ul>
                <p>&nbsp;</p>
                <p><div class="class-title">Research Grants</div></p>
                <ul>
                    <li class="research-entry"><em>"Contributing to the mission of the NEST Foundation: A program designed for developing and empowering global sport leaders.", </em>Co-I<br>
                        Grant Support: The NEST Foundation. Seoul, Korea. $2,087,250 (Direct Cost - $1,878,525 and Indirect Cost - $208,725) <br>
                        Date: 2012-2017 ??pending</li>
                    <li class="research-entry"><em>"Envisioning a rainbow bridge between Seoul, Korea and Athens, Georgia: Materializing an international exchange program through academic collaborations.</em>", Co-I<br>
                        Grant Support:
                        The Sport Industry and Marketing Center. Hanyang University, Seoul, Korea. $25,000 (Direct Cost - $22,727.30 and Indirect Cost - $2,272.70)<br>
                        Date: Sept 2011 - May 2012</li>
                </ul>
                <p><br>
                </p>
                <p><div class="class-title">Professtional Memberships</div></p>
                <ul>
                    <li class="research-entry">North American Society for Sport Management (Since 2009)</li>
                    <li class="research-entry">Sport Marketing Association (Since 2009)</li>
                    <li class="research-entry">Southern District American Alliance for Health, Physical Education, Recreation and Dance (Southern District) (Since 2012)</li>
                    <li class="research-entry">The International Society of Sports Nutrition (Since 2011)</li>
                    <li class="research-entry">The International Sports Sciences Association (Since 2011)</li>
                </ul>
            </div>


            <!-- ################################################################################################ -->

            <!-- ################################################################################################ -->
            <!-- / main body -->
            <div class="clear"></div>
        </main>
    </div></div>
<style type="text/css">
    .class-title{
        margin-top: 32px;
        margin-bottom: 8px;
        color: #555;
        text-decoration: underline;
        font-family: Georgia, "Times New Roman", Times, serif;
        font-size: 16px;
    }
   .research-entry{
        text-indent: -2em;
        padding: 2em;
        padding-top:8px;
        padding-bottom:8px;
    }
</style>