<div class="wrapper row3">
    <div class="rounded" >
        <main class="container clear">
            <!-- main body -->
            <!-- ################################################################################################ -->
            <!-- ################################################################################################ -->
            <!-- ################################################################################################ -->

            <!-- ################################################################################################ -->
            <h1 style="font-family: Arial, Helvetica, sans-serif; font-weight: 900;">Dr. Hong Sungil - Assistant Professor</h1>
            <img class="imgr borderedbox people-thumb-image" src="asset/img/people/hongsungil.jpg" alt="HONG, Sungil">
            <div class="bio">
                <p class="subpageContent"> Ph.D. in Sport Finance &amp; Economics, Florida State University,  USA<br>
                    M.Sc. in Sport Administration, University of Louisville, USA<br>
                    B.A. in Asian History, Korea University, Korea<br>
                    <br>
                    <div class="class-title">Research Focus</div></p>
                <ul class="subpageContent">
                    <li class="research-entry"> Demand in sport</li>
                    <li class="research-entry"> Stadium financing</li>
                    <li class="research-entry"> Innovation diffusion in professional sports</li>
                </ul>
                <p>&nbsp;</p>
                <p><div class="class-title">Honours/Awards</div><br>
                </p>
                <ul>
                    <li class="research-entry">Awarded the Certificate of Measurement and Statistics from the Department of Educational
                        Psychology &amp; Learning Systems at Florida State University (May 2010)<br>
                    </li>
                    <li class="research-entry">Scholarship for Academic Excellence. College of Liberal Arts, Korea University (Sept 1998)</li>
                </ul>
                <p><br>
                    <div class="class-title">Recent Publications (Since 2010)</div><br>
                </p>
                <ul>
                    <li class="research-entry">Kellison, T. &amp; <strong>Hong, S.</strong> (2015). <em>The adoption and diffusion of pro-environmental stadium design.</em> European Sport Management Quarterly, 15(2), 249-269. (SSCI)</li>
                    <li class="research-entry"> Kim, S., <strong>Hong, S.</strong>, Andrew, D.P.S (2013). Sustainable volunteerism at a major international sporting event: The impact of perceived event prestige. </em>Journal of Applied Sport Management, 5(4), 49-72.<br>
                    </li>
                    <li class="research-entry"><strong>Hong, S.</strong>, Ahn, S., &amp; Chung, T. (2013). <em>An examination of determinant factors influencing local governments' sport industry policy adoption and diffusion: A case of Major League Baseball host cities. </em>Korean Journal of Sport Management.18(6), 25-39.<br>
                    </li>
                    <li class="research-entry"><strong>Hong, S.</strong>, Mondello, M., &amp; Coates, D. (2013). <em>Examination of the effects of the recent economic crisis on MLB attendance demand.</em> International Journal of Sport Finance, 8(2), 140-156 (SSCI).<br>
                    </li>
                    <li class="research-entry"><strong>Hong, S.</strong>, Lee, J., &amp; Lee, J. (2013). <em>An Examination of Outcome Uncertainty and Attendance Demand in Major League.</em> Journal of Sport and Leisure Studies, 51, 257-267.<br>
                    </li>
                    <li class="research-entry"><strong>Hong, S. </strong>(2013). <em>Innovation Adoption and Diffusion in Major League Baseball: A Case of Stadium Construction.</em> The Korean Journal of Physical Education, 52(2), 299-311.<br>
                    </li>
                    <li class="research-entry">Magnusen, M.J., <strong>Hong, S.</strong>, &amp; Mondello, M. (2011). <em>Social effectiveness and sport personnel: The impact of athlete political skill and influence tactics on sport organization CSR reputation and consumer advocacy intentions.</em> International Journal of Sport Management and Marketing, 10, 61-82.<br>
                    </li>
                    <li class="research-entry">Magnusen, M.J., <strong>Hong, S.</strong>, &amp; Kim, Y.K. (2011). <em>Sport organization social advocates: Roles of professional athlete CSR reputation and team identification.</em> International Journal of Human Movement Science, 5, 105-132.</li>
                </ul>
                <p><br>
                </p>
                <p> <div class="class-title">Professional Memberships (Ongoing)</div></p>
                <ul>
                    <li class="research-entry"> Member, North American Society for Sport Management (NASSM) (Since 2007)        </li>
                </ul>
            </div>



            <!-- ################################################################################################ -->

            <!-- ################################################################################################ -->
            <!-- / main body -->
            <div class="clear"></div>
        </main>
    </div></div>
<style type="text/css">
    .class-title{
        margin-top: 32px;
        margin-bottom: 8px;
        color: #555;
        text-decoration: underline;
        font-family: Georgia, "Times New Roman", Times, serif;
        font-size: 16px;
    }
   .research-entry{
        text-indent: -2em;
        padding: 2em;
        padding-top:8px;
        padding-bottom:8px;
    }
</style>