<div class="wrapper row3">
    <div class="rounded" >
        <main class="container clear">
            <!-- main body -->
            <!-- ################################################################################################ -->
            <!-- ################################################################################################ -->
            <!-- ################################################################################################ -->

            <!-- ################################################################################################ -->
            <h1 style="font-family: Arial, Helvetica, sans-serif; font-weight: 900;">Prof. Lau Wing Chung - Professor</h1>
            <img class="imgr borderedbox people-thumb-image" src="asset/img/people/lauwingchung.jpg" alt="LAU Wing Chung">
            <div class="bio">
                <p> PhD, Department of Exercise &amp; Public Health, School of Postgraduate Medicine and Health Science, University of Exeter, Exeter, UK</p>
                <p>Master of Physical Education, Springfield College, USA </p>
                <p>Bachelor of Arts, The Chinese University of Hong Kong<br>
                    <br>

                     <div class="class-title">Research Focus</div></p>
                <ul>
                    <li class="research-entry">Exercise &amp; overweight children's behavioral modification</li>
                    <li class="research-entry">Olympic Studies</li>
                </ul>
                <p><br>
                </p>
                <p> <div class="class-title">Honours/Awards</strong><strong>/Professional Qualifications</div><br>
                </p>
                <ul>
                    <li class="research-entry">Honorary Professor, School of Public Health, Peking University, China (Since Dec 2012)</li>
                    <li class="research-entry">Faculty Award for Outstanding Performance in Scholarly Work, HKBU (Mar 2015)</li>
                    <li class="research-entry">Faculty Award for Outstanding Performance in Teaching, HKBU (Feb 2014)</li>
                    <li class="research-entry">Faculty Award for Outstanding Academic Contribution to Service,
                        HKBU (Apr 2013)</li>
                    <li class="research-entry">Incentive award for RGC's HK PhD Fellowship Scheme 2012,
                        HKBU (Oct 2012)</li>
                    <li class="research-entry">Faculty Award of Excellent Performance in Scholarly Work,
                        HKBU (Feb 2012)</li>
                    <li class="research-entry">Incentive award for RGC's HK PhD Fellowship Scheme 2011,
                        HKBU (Oct 2011)</li>
                    <li class="research-entry">The 1st Class Honor Award, The 7th SCSEPF Annual Conference
                        (2008). The Society of Chinese Scholars on Exercise Physiology
                        and Fitness (Oct 2008)</li>
                    <li class="research-entry">ISCPES Research Award, 16th Biennial Conference of the
                        International Society for Comparative Physical education and Sport
                        (ISCPES) (Jul 2008)</li>
                    <li class="research-entry">Faculty Award for Outstanding Performance in Scholarly Work,
                        HKBU (Aug 2007)</li>
                    <li class="research-entry">Jump Rope for Heart Project Award, Hong Kong College of
                        Cardiology (Jan 2007)</li>
                    <li class="research-entry">Accredited Sport Psychologist (Research), British Association of
                        Sport and Exercise Sciences, UK (Oct 2005-Jan 2011)</li>
                    <li class="research-entry">SCSEPF Research Award, The Society of Chinese Scholars on
                        Exercise Physiology &amp; Fitness (Oct 2004)</li>
                    <li class="research-entry">Outstanding teacher, Faulty of Education, CUHK (2000, 2001)</li>
                    <li class="research-entry">Exemplary Teacher's Award, Faulty of Education, CUHK (1999, 2000)</li>
                    <li class="research-entry">Outstanding teacher, Faulty of Education, CUHK (1998, 1999)</li>
                    <li class="research-entry">Certificate of Appreciation
                        School-based Curriculum Project Scheme. Education Department,
                        HK (1997-1998)</li>
                </ul>
                <p><br>
                </p>
                <p>  <div class="class-title">Recent Publications (Since 2010)</div><br>
                </p>
                <ul>
                    <li class="research-entry">Song Y, Ma J., Wang, H. J., Wang, Z. Q., <strong>Lau PWC</strong>, <em>Agardh, A. Age at spemarche: 15-year trends and association with Body Mass Index in Chinese school-aged boys. Pediatric Obesity</em>, in press. </li>
                    <li class="research-entry">Wang, J. J., <strong>Lau, Patrick W.C.</strong>, Baranowski, T., Pitkethly, A. J. &amp; Buday, R.. <em>Acceptability and applicability of an American health videogame with story for childhood obesity prevention among Hong Kong Chinese children. Games for Health Journal</em>, in press.</li>
                    <li class="research-entry">Song Y, Ma J, Agardh, A., <strong>Lau PWC</strong>, Hu P, Zhang B. <em>Secular trends of age at menarche among Chinese girls from 24 ethnic minorities, 1985 to 2010. Global Health Action</em>, in press.</li>
                    <li class="research-entry"><strong>Lau, Patrick W.C.</strong> , Liang, Y., Lau, Erica. Y., Choi, C. R., Kim, G. C. &amp; Shin M. S. (2015). <em>Evaluating physical and perceptual responses to Exergames in Chinese children. International Journal of Environmental Research and Public Health</em>, 12(4), 4018-4030; doi:10.3390/ijerph120404018.</li>
                    <li class="research-entry">Gao, Y., Wang, J. J., <strong>Lau, Patrick W.C.</strong> &amp; Ransdell, L. (2015).<em> Pedometer-determined physical activity patterns in a segmented school day in Hong Kong primary school children. Journal of Exercise Science and Fitness</em>, http://dx.doi.org/10.1016/j.jesf.2015.03.002.</li>
                    <li class="research-entry">Pitkethly, A. &amp; <strong>Lau, P.</strong> <em>Reliability and validity of the short Hong Kong Chinese self-regulation of learning self-report scale (SRL-SRS-C). (2015). International Journal of Sport and Exercise Psychology</em>, DOI: 10.1080/1612197X.2015.1025810</li>
                    <li class="research-entry"><strong>Lau, Patrick W.C.</strong>, Ho, Glos, &amp; Leung, Beeto W. C. <em>Exercise Identity, national Identity, and the perception of humanistic Olympics in the Beijing 2008 Olympics. East Asian Sport Thoughts: The International Journal for the Sociology of Sport</em>, in press.</li>
                    <li class="research-entry">Zhang, S. X &amp; <strong>Lau, Patrick W.C.</strong> (2015). <em>Investigation of cyclists' demographics, behaviors, motivation and satisfaction on cycling adventure tour in China. Hong Kong Recreation Review</em>, 27, 37-44.</li>
                    <li class="research-entry">Lau, Erica Y.,<strong>Lau, Patrick W.C.</strong>, Archer, E. &amp; Cai, B. (2015). <em>The effects of text message content on the use of an Internet-based physical activity intervention in Hong Kong Chinese adolescents. Journal of Health Communication: International Perspectives</em>, DOI: 10.1080/10810730.2015.1018580.</li>
                    <li class="research-entry">Liang, Y. &amp; <strong>Lau, Patrick W.C.</strong>, Huang, Y. J., Maddison. R. &amp; Baranowski, T. (2014). <em>Validity and reliability of questionnaires measuring physical activity, self-efficacy, enjoyment, social support among Hong Kong Chinese children. Preventive Medicine Reports</em>, 1, 48-52.</li>
                    <li class="research-entry"><strong>Lau, Patrick W.C.</strong>, Wong, D., Ngo, J. K., Liang, Y., Kim, G. C. &amp; Kim, H. S. (2014). <em>Effects of high-intensity intermittent running exercise in overweight children. European Journal of Sport Science</em>, DOI:10.1080/17461391.2014.933880.</li>
                    <li class="research-entry">Liang, Y. &amp;<strong>Lau, Patrick W.C.</strong> (2014). <em>Effects of Active Video Games on Physical Activity and Related Outcomes among healthy children: A systematic review. Games for Health Journal</em>, 3(3), 122-144.</li>
                    <li class="research-entry">Fu, L. G., Wang, H. J., Li, X. H., Wang, Z. Q., <strong>Lau, P. W. C.</strong>, Yang, Y. D., Meng, X. K. &amp; Ma, J. (2014). <em>An objective measure to evaluate actual body shape among children and adolescents in China. Biomedical and Environmental Sciences</em>, 27:1-13.</li>
                    <li class="research-entry">Gao Y, Chan EYY, Li LP, <strong>Lau PWC</strong>, Wong TW. <em>Chronic effects of ambient air pollution on respiratory morbidities among Chinese children: a cross-sectional study in Hong Kong.</em> BMC Public Health, 2014, 14: 105. (doi: 10.1186/10.1186/ 1471-2458-14-105; http://www.biomedcentral.com/1471-2458/14/105)</li>
                    <li class="research-entry">Song Y, Wang HJ, Ma J, <strong>Lau PW</strong>, Hu P, Zhang B,et al. <em>BMI-for-age Z-score distribution shifts among Chinese children: Gender disparity. Obesity</em>, 2014; 22(4): 1187-1193.</li>
                    <li class="research-entry">Wong, Angela K. F. &amp; <strong>Lau, Patrick W.C.</strong> (2014). <em>An investigation into the service quality between private and public horse riding schools in Hong Kong. Hong Kong Recreation Review</em>, 26, 21-27.</li>
                    <li class="research-entry">Jiang D. &amp; <strong>Lau, Patrick W.C.</strong> (2014). <em>Residents' Perceptions of the Impacts of the 2013 Chinese Grand Prix. Hong Kong Recreation Review</em>, 26, 31-41.</li>
                    <li class="research-entry">Chung, P. K., <strong>Lau, Patrick W.C.</strong> &amp; Tong, T. K. (Ed.). (2013). <em>Youth, health and technology. Hong Kong Baptist University</em>.</li>
                    <li class="research-entry"><strong>Lau, Patrick W.C.</strong>, Wong, P., &amp; Ransdell, L. (2013). <em>Influence of Perceived to Actual Body Ratings on Peer Relationships and Physical Self-Concept in Chinese Children. International Journal of Physical Education</em>, 50(2),13-25.</li>
                    <li class="research-entry">Liu, H. M. &amp;<strong>Lau, Patrick W.C.</strong> (2013). <em>Review and preview of local youth sports development: A holistic perspective of Hong Kong's youth sports policy. Hong Kong Recreation Review</em>, 25, 39-44.</li>
                    <li class="research-entry">Xia, Q., Lau, <strong>Lau, Patrick W.C.</strong> &amp; Pitkethly, A. (2013). <em>A review of the sports agents system. Hong Kong Recreation Review</em>, 25, 15-28.</li>
                    <li class="research-entry"><strong>Lau, Patrick W.C.</strong>&amp; Chan, Eric C. H. (2012). <em>A Comparison of Australia, Singapore &amp; Hong Kong Sport policy. Asian Journal of Physical Education &amp; Recreation</em>, 18 (1), 58-75.</li>
                    <li class="research-entry">Lau, Erica Y., <strong>Lau, Patrick W.C.</strong>, Chung, Pak-kwong, Ransdell, L, &amp; Archer, E. (2012). <em>Evaluation of an Internet-SMS-based intervention for promoting physical activity in Hong Kong Chinese adolescent school children: A pilot study. Cyberpsychology, Behavior, and Social Networking</em>, 15(8), 425-434.</li>
                    <li class="research-entry"><strong>Lau, Patrick W.C.</strong>, Lau, Erica. Y., Choi, C., Leung, Beeto W. C., &amp; Wong C. W. M. (2012). <em>Correlations between physical activity, body mass index, anxiety, depression, and quality of life in Hong Kong Chinese adolescents. International Journal of Physical Education</em>, 49(1), 28-38.</li>
                    <li class="research-entry"><strong>Lau, Patrick W.C.</strong>, Lam, Michael H.S. &amp; Leung, Beeto W. C., Choi, C. &amp; Ransdell, L. (2012). <em>The longitudinal changes of national identity in Mainland China, Hong Kong and Taiwan before, during and after the 2008 Beijing Olympics. The International Journal of the History of Sport, 29 (9)</em>, 1281-1294.</li>
                    <li class="research-entry">Siu PM, Tam SK, <strong>Lau PW</strong>, &amp; Wong SH. (2012). <em>The association of nonsteroidal anti-inflammatory drug use and self-reported running performance in recreational marathon runners. Gazzetta Medica Italiana - Archivio per le Scienze Mediche</em>, 171 (2), 173-180.</li>
                    <li class="research-entry">Wong, P., Chamari, K., Chaouachi, A, Luk, T.C. &amp; <strong>Lau P.W.C.</strong> (2011). <em>Heart rate response and match repeated-sprint performance in Chinese elite youth soccer players. Asian Journal of Physical Education &amp; Recreation</em>, 17 (2), 42-49.</li>
                    <li class="research-entry">Wong, K. &amp; <strong>Lau, Patrick W.C.</strong> (2012). <em>The impact of outdoor adventure programs in life effectiveness on Hong Kong adolescents. Hong Kong Recreation Review</em>, 24, 3-16.</li>
                    <li class="research-entry">Wong, P., Chaouachi, A., Castagna, C., <strong>Lau, P.W.C.</strong>, Chamari, K. &amp; Wisloff, U. (2011). <em>Validity of the Yo-Yo Intermittent Endurance Test in young soccer players. European Journal of Sport Science, 11(5)</em>, 309-15.</li>
                    <li class="research-entry"><strong>Lau, Patrick W.C.</strong>, Lau, Erica. Y., Wong, Del P., Ransdell, Lynda. (2011). <em>A systematic review of information and communication technology-based interventions for promoting physical activity behavior change in children and adolescents. Journal of Medical Internet Research</em>, 13(3), e48.</li>
                    <li class="research-entry">Wong, Del P., Chaouachi, A., <strong>Lau, Patrick W.C.</strong>, Behm, David G. (2011). <em>Short durations of static stretching when combined with dynamic stretching do not impair repeated sprints and agility. Journal of Sports Science &amp; Medicine</em>, 10, 408-416.</li>
                    <li class="research-entry"><strong>Lau, Patrick W.C.</strong>, Lam, Michael H.S. &amp; Leung, Beeto W. C. (2011). <em>The Beijing Olympics and Expressions of National Identity in China, Taiwan and Hong Kong. In Kelly, W. W. &amp; Brownell, S. (Eds.), The Olympics in East Asia: Nationalism, Regionalism, and Globalism on the Center Stage of World Sports (CEAS Occasional Monograph Series, Volume 3, Chapter 9, pp 147-160)</em>. Council on East Asian Studies, Yale University, Connecticut, USA.</li>
                    <li class="research-entry">Wong E. L. C. &amp; <strong>Lau, P. W. C.</strong> (2011). <em>Marketing factors influence people to participate in "Standard Chartered Hong Kong Marathon 2010". Hong Kong Recreation Review</em>, 23, 4-14.</li>
                    <li class="research-entry">Liang, Y &amp; <strong>Lau, P. W. C.</strong>, Choi, Choung-rak. (2011). <em>A Review of Post Game Facilities Use in 2008 Beijing Olympics. Hong Kong Recreation Review</em>, 23, 44-48.</li>
                    <li class="research-entry">Lau, Y. Y., <strong>Lau, P. W. C.</strong> &amp; Wong, P. (2011). <em>Can active video games be used as leisure-time physical<br>
                        activity to enhance physical fitness in healthy children? A preliminary analysis (pp. 107-120)</em>. In Powell, M.
                        A. (Eds.), Physical Fitness: Training, Effects, and Maintaining. NY: Nova Science Publisher, Inc.<br>
                    </li>
                    <li class="research-entry">Wong, P.,<strong> Lau, P. W. C.</strong>, Mao, D. W., Wu, Y. Y., Behm, D. G., &amp; Wisloff, U. (2011). <em>Three days of static<br>
                        stretching within a warm-up does not affect repeated-sprint ability in youth soccer players. Journal of
                        Strength and Conditioning Research</em>, 25(3), 838-845.<br>
                    </li>
                    <li class="research-entry"><strong>Lau, Patrick W.C.</strong>&amp; Lau, Y. Y. (2010). <em>The role of physical activity in the treatment and prevention of
                        anxiety and depression in children: An overview. In Chang, C. H. (Eds.), Sport Psychology: Coping,
                        Performance, and Anxiety (pp. 403-414)</em>. NY: Nova Science Publisher, Inc.<br>
                    </li>
                    <li class="research-entry"><strong>Lau, Patrick W.C.</strong>&amp; Wai, Dora P. Y. (2010) <em>Evaluation and recommendations of Hong Kong health
                        promotion. Asian Journal of Physical Education &amp; Recreation</em>, 16(1), 22-34.<br>
                    </li>
                    <li class="research-entry"><strong>Lau, Patrick W.C.</strong>, Kong, Z., Choi, C., Yu, W. C., Chan, D., Sung, RYT, &amp; Leung, B. W. C. (2010). <em>Effects
                        of short-term resistance training on serum leptin levels in obese adolescents. Journal of Exercise Science and
                        Fitness</em>, 8(1), 54-60.</li>
                    <li class="research-entry"><strong>Lau, Patrick W.C.</strong>, Leung, W. C. Beeto, Ransdell, L. &amp; Wong, P. (2010).<em> The Relationship between Sport
                        Identity and Sport Participation in Overweight and Normal Weight Chinese Children. International Journal
                        of Physical Education</em>, 47(1), 35-42.</li>
                </ul>
                <br>
                <div class="class-title"> Peer Reviewed Conference Papers:</div>
                <ul>
                    <li class="research-entry"> <strong>Lau, PWC.</strong>, Zhang, S. &amp; Maddison, R. (6th - 9th May, 2015). <em>The effect of a school-based active video game
                        intervention on children's aerobic fitness, physical activity level, and exercise-related psychological
                        variables: a preliminary RCT trial. </em>The 22nd European Congress on Obesity, Prague, Czech Republic.<br>
                    </li>
                    <li class="research-entry"><strong>Lau, PWC.</strong> &amp; Wong Y. C. (9th - 12th July, 2014). <em>Historical Development of Physical Self-concept in
                        Chinese.</em> ISSA World Congress of Sociology of Sport 2014, Peking University, Beijing, China.<br>
                    </li>
                    <li class="research-entry"><strong>Lau, PWC. </strong>&amp; Wang, J. J. (21st-24th May, 2014). <em>School children's perception towards active video games
                        and its potential values to school physical education. </em>International Society of Behavioral Nutrition and
                        Physical Activity 2014 Annual Meeting, San Diego, California, USA.<br>
                    </li>
                    <li class="research-entry">Liang, Y., &amp;<strong> Lau, P.W.C. </strong>(27-31 May, 2014).<em> Validity and Reliability of a Translated Physical Activity
                        Self-Efficacy Scale among Hong Kong Children. </em>American College of Sports Medicine's 61st Annual
                        Meeting, Orlando, USA.<br>
                    </li>
                    <li class="research-entry">Liang, Y., &amp; <strong>Lau, P. W. C.</strong> (21-24 May, 2014). <em>Validity and Reliability of Translated Questionnaires
                        Measuring Physical Activity Enjoyment and Social Support among Hong Kong Chinese Children. </em>The 2014
                        Annual Conference of the International Society for Behavioral Nutrition and Physical Activity, San Diego,
                        USA.<br>
                    </li>
                    <li class="research-entry">Pitkethly, A. &amp; <strong>Lau, P. </strong>(21-24 May, 2014). <em>Self-regulated learning and its association with self-report
                        leisure-time physical activity among Hong Kong Chinese Adolescents. </em>Paper presented at the ISBNPA
                        conference, San Diego, California.<br>
                    </li>
                    <li class="research-entry">Wang, J. J.,<strong> Lau, PWC</strong>, Zhang, Z. (17th-20th March, 2014). <em>The effects of video games-based intervention on
                        children's obesity-related behaviors: A review. </em>12th International Congress on Obesity, Kuala Lumpur,
                        Malaysia<br>
                    </li>
                    <li class="research-entry">Liang, Y.,<strong> Lau, P.W.C.</strong>, Maddison, R. (26-28 May, 2013). <em>Study Protocol: An Investigation into the
                        Effectiveness of an Active Video Game Intervention to Promote Physical Activity in Hong Kong Chinese
                        School Children: A Randomized Controlled Trial. ISBNPA Post-Conference Satellite 2013: Integration of
                        individual and environmental approaches to changing population-level physical activity behaviour</em>,
                        Cambridge UK.<br>
                    </li>
                    <li class="research-entry"><strong>Lau, Patrick W.C.</strong> (21-25 May, 2013). <em>A pilot study of attractive features in Children's active video games.</em>
                        The 2013 Annual Conference of the International Society for Behavioral Nutrition and Physical Activity,
                        Ghent, Belgium.<br>
                    </li>
                    <li class="research-entry">Liang, Y., <strong>Lau, Patrick W.C.</strong> &amp; Lau, Y. Y. (2-4 Nov 2012).<em> Evaluation of the Energy Expenditure and
                        Cardiovascular Response of Exergames Playing in Hong Kong Children. The 11th SCSEPF Annual
                        Conference. </em>The Society of Chinese Scholars on Exercise Physiology and Fitness, Shanghai University of
                        Sport, Shanghai, China.<br>
                    </li>
                    <li class="research-entry">Pitkethly, A. J. &amp; <strong>Lau, P. W C.</strong> (2 - 4 November, 2012).<em> A review of the literature: Self-regulation and
                        physical activity interventions with children. </em>11th Annual Conference of the Society of Chinese Scholars on
                        Exercise Physiology and Fitness. Shanghai, China.</li>
                    <li class="research-entry"><strong>Lau, Patrick W.C.</strong>, Liang, Y. &amp; Lau, Y. Y. (20th-21st Oct 2012).<em> A pilot study on choosing active video
                        games (AVGs) for physical activity (PA) intervention based on flow experiences of AVGs playing in Hong
                        Kong children.</em> 2012 International Conference on Youth, Technology &amp; Health, Hong Kong Baptist
                        University, Hong Kong, China.<br>
                    </li>
                    <li class="research-entry"><strong>Lau, Patrick W.C.</strong>, Wong, P. &amp; Liang, Y. (19th-24th July 2012). <em>Effects of high intensity intermittent
                        running exercise on obese individual. </em>International Convention on Science, Education and Medicine in Sport,
                        Glasgow, Scotland, UK.<br>
                    </li>
                    <li class="research-entry">Liang Y. &amp;<strong> Lau P.W.C.</strong> (23rd-26th May, 2012). <em>Active Video Game (AVG): A Potential Physical Activity
                        (PA) Intervention Tool for School Children in Exercise Motivation and Fitness. </em>The 2012 Annual Conference
                        of the International Society for Behavioral Nutrition and Physical Activity, Austin, USA.<br>
                    </li>
                    <li class="research-entry"><strong>Lau, Patrick W.C.</strong>&amp; Leung, Beeto W. C. (18th May 2012). <em>The associations between exercise identity,
                        national identity and the perception of human Olympics in the 2008 Beijing Olympic Games. The 2012
                        International Olympic Seminar: The Cultural Convergence and Positioning of East Asia in the Global
                        Development of Olympism</em>Hong Kong Baptist University, Hong Kong, China.<br>
                    </li>
                    <li class="research-entry">Leung, Beeto W. C. &amp; <strong>Lau, Patrick W.C.</strong> (18th May 2012). <em>The sustainable effect of Olympism in Hong
                        Kong after 2008 Beijing Olympics. The 2012 International Olympic Seminar: "The Cultural Convergence
                        and Positioning of East Asia in the Global Development of Olympism"</em> Hong Kong Baptist University, Hong
                        Kong, China.<br>
                    </li>
                    <li class="research-entry"><strong>Lau, Patrick W.C.</strong>, Chan, E., &amp; Leung, Beeto W. C. (4th -7th Nov. 2011).<em> Investigation on the service quality
                        of camp site in Hong Kong water sport center.</em> International Camping Congress Hong Kong 2011, Hong Kong,
                        China.<br>
                    </li>
                    <li class="research-entry"><strong>Lau, P.W.C. </strong>&amp; Lau, E.Y. (21st -23rd June, 2011). <em>Evaluating the exercise intensity of a China invented active
                        video game in Chinese children: The I-Dong. The 2011 satellite Meeting of the International Society for
                        Behavioral Nutrition and Physical Activity: New paradigms to improve physical activity and nutrition,
                        Queenstown</em>, New Zealand.<br>
                    </li>
                    <li class="research-entry"><strong>Lau, P. W. C.</strong>, Lau, E. Y., &amp; Chung, P. K. (11th -15th July 2010). <em>A pilot study of a web site plus SMS
                        motivator system to physical activity behaviour change in Hong Kong Chinese adolescents.</em> The 11th
                        International Congress of Obesity, Stockholm, Sweden, p. 306.<br>
                    </li>
                    <li class="research-entry">Lau, E. Y., <strong>Lau, P. W. C. </strong>&amp; Chung, P. K. (11th -15th July 2010). <em>The impact of using a website, email and SMS
                        intervention to promote physical activity in Hong Kong Chinese adolescents.</em> The 11th International Congress
                        of Obesity, Stockholm, Sweden, p. 470.<br>
                    </li>
                    <li class="research-entry">Lau, Y., <strong>Lau, P.W.C.</strong> (16th - 19th July 2010).<em> Can active video games improve physical fitness in children? The
                        9th SCSEPF Annual Conference.</em> The Society of Chinese Scholars on Exercise Physiology and Fitness,
                        Beijing Sport University, Beijing, China. P.126-127.<br>
                    </li>
                    <li class="research-entry">Pei XM, Tam SK, <strong>Lau PW</strong>, Wong SH, and Siu PM. (19th June 2010). <em>The use of NSAID is associated with
                        self-reported running performance in recreational Marathon runners. </em>Proceeding of the 3rd Hong Kong
                        Association of Sports Medicine and Sports Science (HKASMSS) Student Conference on Sports Medicine,
                        Rehabilitation and Exercise Science, Hong Kong, China, p.8-9.<br>
                    </li>
                    <li class="research-entry">Lau, Y., <strong>Lau, P.W.C.</strong> (25th - 28th May. 2010).<em> Association among perceived benefits and perceived barriers
                        and physical activity level in Hong Kong Chinese adolescents. </em>The 3rd International Conference of Physical
                        Education and Sports Science, Singapore, p.192.<br>
                        <br>
                    </li>
                </ul>
                <p> <div class="class-title">Research Grants (Since 2010)</div></p>
                <ul>
                    <li class="research-entry"><em>"Investigation of the effectiveness and successful features of Facebook in youth PA intervention"</em>, 2015-2016 <br>
                        Grant Support: Faculty Research Grant, HKBU, HK$50,000 <br>
                    </li>
                    <li class="research-entry"><em>"Intervention study of Active Video Games on sedentary children's aerobic fitness,
                        physical activity level and exercise-related self-efficacy"</em>, 2013-2014 <br>
                        Grant Support: General Research Fund, HK$303,520 <br>
                    </li>
                    <li class="research-entry"> <em>"An extended baseline survey of a 6-year cohort to study development of childhood
                        obesity and its correlates among primary school students aged 6-11 years in Hong Kong"</em>, 2013-2014<br>
                        Grant Support: Faculty Research Grant, HKBU, HK$50,000<br>
                    </li>
                    <li class="research-entry"><em>"Investigation of Active Video Games on Sedentary Children's Physical Activity Level
                        and Exercise Related Self-efficacy"</em>, 2013-2014<br>
                        Grant Support: Faculty Research Grant, HKBU, $50,000<br>
                    </li>
                    <li class="research-entry"> <em>"An intervention study of self-regulation training and mobile-phone on the physical fitness &amp; physical activity behavioral changes in Chinese overweight school children"</em>, 2013<br>
                        Grant Support: Faculty Research Grant, HKBU, $100,000<br>
                    </li>
                    <li class="research-entry"><em>"Behavioral changes of children physical activity through the usage of Information
                        Communication Technologies (ICTs) in Hong Kong and New Zealand."</em>, 2011<br>
                        Grant support: SOSC Faculty GRF Incentive Award Scheme, HKBU, HK$20,000</li>
                    <li class="research-entry"><em>"Integrating SMS into PA intervention for Hong Kong Chinese adolescents: The effects of
                        SMS delivery frequency and timing."</em>, 2011<br>
                        Grant support: Faculty Research Grant, HKBU, HK$98,800</li>
                    <li class="research-entry"><em>"Using active video games to promote physical activity: the preferences and energy
                        expenditure of Hong Kong Chinese children."</em>, 2010<br>
                        Grant support: Faculty Research Grant, HKBU, HK$118,200 <br>
                    </li>
                </ul>
                <p>&nbsp; </p>
                <p> <div class="class-title">Professional Memberships (Ongoing)</div></p>
                <ul>
                    <li class="research-entry">Member, The European College of Sport Science</li>
                    <li class="research-entry">Member, The British Association of Sport and Exercise Sciences</li>
                    <li class="research-entry">Member, Hong Kong Recreation Management Association</li>
                    <li class="research-entry">Member, International Society of Behavioral, Nutrition, and Physical Activity</li>
                </ul>
                <p>&nbsp;</p>
                <p> <div class="class-title">Community/Professional Services (Ongoing)</div></p>
                <ul>
                    <li class="research-entry">Journal editor, Games for Health Journal, USA (Since 2014)</li>
                    <li class="research-entry">External examiner, Department of Hotel, Service and Tourism Studies, Hong Kong Institute
                        of Vocational Education-Chai Wan, Hong Kong (Since 2005)</li>
                    <li class="research-entry">External examiner, Faculty of Management and Hospitality, Technological and Higher
                        Education Institute of Hong Kong (THE-I), Hong Kong (Since 2012)</li>
                    <li class="research-entry">Academic committee chairman, Hong Kong Recreation Management Association, Hong
                        Kong (Since 2006)</li>
                    <li class="research-entry">Journal reviewer, International Journal of Behavioral Nutrition and Physical Activity, USA</li>
                    <li class="research-entry">Journal reviewer, Cyberpsychology, Behavior, and Social Networking, USA</li>
                    <li class="research-entry">Journal reviewer, Journal of Medical Internet Research</li>
                    <li class="research-entry">Journal reviewer, The Journal of Pediatrics, USA</li>
                    <li class="research-entry">Journal reviewer, Journal of Adolescent Health, USA</li>
                    <li class="research-entry">Journal reviewer, Pediatric Obesity, Australia</li>
                    <li class="research-entry">Journal reviewer, Journal of Sport and Health Science</li>
                    <li class="research-entry">Journal reviewer, Public Health Nursing, USA</li>
                    <li class="research-entry">Journal reviewer, The International Journal of the History of Sport, UK</li>
                    <li class="research-entry">Journal reviewer, The Journal of Exercise Science and Fitness (JESF)</li>
                    <li class="research-entry">Journal reviewer, Sport in Society, UK</li>
                    <li class="research-entry">Journal reviewer, World Leisure Journal</li>
                    <li class="research-entry">Journal reviewer, Journal of Happiness Studies, Australia</li>
                    <li class="research-entry">Journal reviewer, Asian Journal of Physical Education &amp; Recreation (Hong Kong)</li>
                    <li class="research-entry">Journal reviewer, Education Research Journal, Hong Kong Educational Research Association</li>
                </ul>
            </div>


                <!-- ################################################################################################ -->

                <!-- ################################################################################################ -->
                <!-- / main body -->
                <div class="clear"></div>
        </main>
    </div></div>
<style type="text/css">
    .class-title{
        margin-top: 32px;
        margin-bottom: 8px;
        color: #555;
        text-decoration: underline;
        font-family: Georgia, "Times New Roman", Times, serif;
        font-size: 16px;
    }
   .research-entry{
        text-indent: -2em;
        padding: 2em;
        padding-top:8px;
        padding-bottom:8px;
    }
</style>