<div class="wrapper row3">
    <div class="rounded">
        <main class="container clear">
        <h1 class="page-title">Members of the CGSRS</h1>

        <table border="0">
            <tbody>
            <tr style="margin-bottom: 32px">
                <td><a href="#people/cheungsiuyin"><img class="borderedbox people-thumb-image" src="asset/img/people/cheungsiuyin.jpg" alt="CHEUNG, Siu Yin, MH" /></a></td>
                <td class="people-info">
                    <div class="people-title">Director of Centre for Global Sport & Recreation Studies</div>
                    <div><a href="#people/cheungsiuyin">CHEUNG, Siu Yin, MH </a></div>
                    <div>
                        <p>
                            Tel: (852) 3411 5637<br>
                            Fax: (852) 3411 5757<br>
                            E-mail: <a href="mailto:cheungsy@hkbu.edu.hk">cheungsy@hkbu.edu.hk</a> <br>
                            AAB 922, Academic and Administration Bldg, HKBU
                        </p>
                    </div>
                </td>
            </tr>
            <tr>
                <td><a href="#people/kimsm"><img class="borderedbox people-thumb-image" src="asset/img/people/kimseungmo.jpg" alt="KIM, Seungmo"/></a></td>
                <td class="people-info">
                    <div class="people-title">Associate Director of Centre for Global Sport & Recreation Studies</div>
                    <div><a href="#people/kimsm">KIM, Seungmo </a></div>
                    <div>
                        <p>
                            Tel: (852) 3411 7833<br>
                            Fax: (852) 3411 5757<br>
                            E-mail: <a href="mailto:kimsm@hkbu.edu.hk">kimsm@hkbu.edu.hk</a> <br>
                            AAB 932, Academic and Administration Bldg, HKBU
                        </p>
                    </div>
                </td>
            </tr>
            <tr>
                <td><a href="#people/lauwc"><img class="borderedbox people-thumb-image" src="asset/img/people/lauwingchung.jpg" alt="LAU, Wing Chung, Patrick "/></a></td>
                <td class="people-info">
                    <div class="people-title">Professor</div>
                    <div><a href="#people/lauwc">LAU, Wing Chung, Patrick</a></div>
                    <div>
                        <p>
                            Tel: (852) 3411 5634<br>
                            Fax: (852) 3411 5757<br>
                            E-mail: <a href="mailto:wclau@hkbu.edu.hk">wclau@hkbu.edu.hk</a><br>
                            AAB 1130, Academic and Administration Bldg, HKBU
                        </p>
                    </div>
                </td>
            </tr>
            <tr>
                <td><a href="#people/chenkc"><img class="borderedbox people-thumb-image" src="asset/img/people/chenkuanchou.jpg" alt="CHEN, Kuan Chou, Kenneth"/></a></td>
                <td class="people-info">
                    <div class="people-title">Assistant Professor</div>
                    <div><a href="#people/chenkc">CHEN, Kuan Chou, Kenneth</a></div>
                    <div>
                        <p>
                            Tel: (852) 3411 7004<br>
                            Fax: (852) 3411 5757<br>
                            E-mail: <a href="mailto:kuanchou@hkbu.edu.hk">kuanchou@hkbu.edu.hk</a><br>
                            AAB 930, Academic and Administration Bldg, HKBU
                        </p>
                    </div>
                </td>
            </tr>
            <tr>
                <td><a href="#people/hongsi"><img class="borderedbox people-thumb-image" src="asset/img/people/hongsungil.jpg" alt="HONG, Sungil" /></a></td>
                <td class="people-info">
                    <div class="people-title">Assistant Professor</div>
                    <div><a href="#people/hongsi">HONG, Sungil</a></div>
                    <div>
                        <p>
                            Tel: (852) 3411 5638<br>
                            Fax: (852) 3411 5757<br>
                            E-mail: <a href="mailto:sungil@hkbu.edu.hk">sungil@hkbu.edu.hk</a><br>
                            AAB 933, Academic and Administration Bldg, HKBU
                        </p>
                    </div>
                </td>
            </tr>
            <tr>
                <td><a href="#people/zhengjinming"><img class="borderedbox people-thumb-image" src="asset/img/people/zhengjnming.jpg" alt="Dr. ZHENG, Jinming"/></a></td>
                <td class="people-info">
                    <div class="people-title">Post-Doctoral Research Fellow</div>
                    <div><a href="#people/zhengjinming">Dr. ZHENG, Jinming </a></div>
                    <div>
                        <p>
                            Tel: +852 34116522<br>
                            Fax: +852 34115757<br>
                            Email: <a href="mailto:jinmingzheng@hkbu.edu.hk">jinmingzheng@hkbu.edu.hk</a><br>
                            AAB 923, Academic and Administration Building, HKBU
                        </p>
                    </div>
                </td>
            </tr>
            <tr>
                <td><a href="#people/zhaoyanan"><img class="borderedbox people-thumb-image" src="asset/img/people/zhaoyanan.jpg" alt="Dr. ZHAO, Yanan "/></a></td>
                <td class="people-info">
                    <div class="people-title">Post-Doctoral Research Fellow</div>
                    <div><a href="#people/zhaoyanan">Dr. ZHAO, Yanan </a></div>
                    <div>
                        <p>
                            Tel: +852 34116546<br>
                            Fax: +852 34115757<br>
                            Email: <a href="mailto:ynzhao@hkbu.edu.hk">ynzhao@hkbu.edu.hk</a><br>
                            AAB 923, Academic and Administration Building, HKBU
                        </p>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        </main>
    </div>
</div>
<style type="text/css">
    .people-info{
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .people-thumb-image{
        max-width: 160px;
        margin-right: 48px;
    }
    .people-title{
        margin-bottom: 8px;
        color: #555;
        text-decoration: underline;
        font-family: Georgia, "Times New Roman", Times, serif;
        font-size: 16px;
    }
    @media (max-width:40em) {
        table, thead, tbody, tfoot, th, td, tr { display:block; }
        tr + tr { margin-top:1em; }
    }
</style>