<div class="wrapper row3">
    <div class="rounded" >
        <main class="container clear">
            <!-- main body -->
            <!-- ################################################################################################ -->
            <!-- ################################################################################################ -->
            <!-- ################################################################################################ -->

            <!-- ################################################################################################ -->
            <h1 style="font-family: Arial, Helvetica, sans-serif; font-weight: 900;">Dr. Zhao Yanan - Post-Doctoral Research Fellow</h1>
            <img class="imgr borderedbox people-thumb-image" src="asset/img/people/zhaoyanan.jpg" alt="ZHAO, Yanan">

            <div class="bio">
                <p>Ph.D., Hong Kong Baptist University, Hong Kong<br>
                    M.Ed., Nanjing Normal University, China<br>
                    B.Ed., Nanjing Normal University, China<br>
                    <br>

                    <div class="class-title">Research Focus</div></p>
                <ul>
                    <li class="research-entry">Balance and Falls</li>
                    <li class="research-entry">Postural Control</li>
                    <li class="research-entry">Aging and Physical Activity</li>
                        <br>
                </ul>

                <p><div class="class-title">Awards/Professional Qualification</div><br>
                </p>
                <ul>
                    <li class="research-entry">Best Poster Presentation, The 14th SCSEPF Annual Conference. The Society of Chinese Scholars on Exercise Physiology and Fitness, Macau (22nd – 23th, July 2015).</li>
                    <li class="research-entry">Best Oral Presentation, The 1st International Postgraduate Academic Forum, Shenzhen (18th - 20th, Oct. 2013).</li>
                    <li class="research-entry">Best Oral Presentation, The 12th SCSEPF Annual Conference. The Society of Chinese Scholars on Exercise Physiology and Fitness, Shenyang (9th – 11th, Oct. 2013).</li>
                </ul>
                <p>&nbsp;</p>

                <p><div class="class-title">Recent Publications (Since 2011)</div><br>
                <p><div class="class-title">Book Chapters:</div></p>
                <ul>
                    <li class="research-entry">Chung, P. K, <strong>Zhao, Y. N.</strong>, Quach, B., &amp; Liu, J. D. (2013). <em>The use of a Braille version of the Cantonese RPE scale in visually impaired adolescents.</em> In P. K. Chung, P. W. Lau, &amp; T. K. Tong (Eds.), Youth, technology, and health (pp.89-106). Hong Kong: Hong Kong Baptist University.
                    </li>
                </ul>
                <p>&nbsp;</p>

                <div class="class-title">Peer-Reviewed Journal Articles:</div>
                <ul>
                    <li class="research-entry"><strong>Zhao, Y. N.</strong>, Chung, P. K, &amp; Tong, T. K. (In Press). <em>Effectiveness of a community-based exercise program on balance performance and fear of falling in older nonfallers at risk of falling: A randomized, controlled study. </em>Journal of Aging and Physical Activity.
                    </li>
                    <li class="research-entry"><strong>Zhao, Y. N.</strong>, &amp; Chung, P. K. (2016). <em>Differences of functional fitness between older adults with and without risk of falls.</em> Asian Nursing Research, 10(1), 51-55.
                    </li>
                    <li class="research-entry">Chung, P. K., <strong>Zhao, Y. N.</strong>, Liu, J. D., &amp; Quach, B. (2016).<em> Functional fitness norms for community-dwelling older adults in Hong Kong.</em> Archives of Gerontology and Geriatrics, 65, 54-62
                    </li>
                    <li class="research-entry"><strong>Zhao, Y. N.</strong>, &amp; Chung, P. K. (2015). <em>A preliminary design for a community-based exercise program for balance improvement and fall prevention.</em> International Journal of Sports and Physical Education, 1(2), 5-14.
                    </li>
                    <li class="research-entry">Chung, P. K.,<strong>Zhao, Y. N.</strong>, Liu, J. D., &amp; Quach, B. (2015). <em>Validity and Reliability of the rating of perceived scale in monitoring exercise intensity among Chinese older adults in Hong Kong.</em> Perceptual &amp; Motor Skill, 121(3), 805-809.
                    </li>
                    <li class="research-entry">Chung, P. K., Mui, R.,<strong>Zhao, Y. N.</strong>, &amp; Liu, J. D. (2014). <em>Training Effects of Water Tai Chi on Health Indicators among Chinese Older Females in Hong Kong. </em>International Journal of Physical Education, Sports and Health,1 (2), 20-24.
                    </li>
                    <li class="research-entry">Chung, P. K., Leung, R. W., Liu, J. D., Quach, B., &amp; <strong>Zhao, Y. N.</strong>(2013).<em> Exercise regulation during cycle ergometry using Cantonese version of the CERT and Borg’s RPE. </em>Journal of Physical Education and Sport, 13(2), 170-176.
                    </li>
                    <li class="research-entry">Chung, P. K., &amp; <strong>Zhao, Y. N.</strong> (2011). <em>Experimental advancement in using RPE 6-20 Scale in predicting maximal oxygen consumption. </em>Journal of Wuhan Institute of Physical Education, 45(9), 36-40. (In Chinese)
                    </li>

                </ul>
                <p>&nbsp;</p>

                <div class="class-title">Professional Journal Article:</div>
                <ul>
                    <li class="research-entry"><strong>趙亞楠</strong>，鍾伯光. <em>從功能性體適能角度透視長者跌倒問題</em>，載《紫荊論壇》，雙月刊總第25期(2016), 頁87-90.
                    </li>
                    <li class="research-entry">鍾伯光，趙曉逍，<strong>趙亞楠</strong>. <em>力量訓練有益於老年人的身心健康</em>，載《紫荊論壇》, 雙月刊總第15期 (2014), 頁95-99.
                    </li>
                </ul>
                <p>&nbsp;</p>

                <div class="class-title">Academic Conference Proceedings (Full paper):</div>
                <ul>
                    <li class="research-entry"> <strong>Zhao, Y. N.</strong> (2010). <em>Analysis from the Biological Evolution Perspective on the Connotation of TiZhi in its Psychological level. </em>Proceedings of the 2010 international symposium on children and youth fitness and health, 28-31(ISTP).
                    </li>
                    <li class="research-entry"> <strong>Zhao, Y. N.</strong> (2010). <em>Research on the construction about evaluation index system on new rural service system of Fitness for All.</em> Proceedings of 2010 International Conference on Computer Science and Sports Engineering (CSSE 2010), 297-302. (ISTP).
                    </li>
                    <li class="research-entry">Chen, J. Q. &amp;  <strong>Zhao, Y. N.</strong> (2010). <em>The Influence on Chinese Sports Tourism by Financial Crisis and the Corresponding countermeasures.</em> Proceedings of the 21st Pan-Asian Congress of Sports and Physical Education, Medical Engineering in Sports. Education and Management in Sports, World Academic Union, 82-85 (ISTP).
                    </li>
                    <li class="research-entry">Chen, J. Q. &amp;  <strong>Zhao, Y. N.</strong> (2010). <em>Analysis and Enlightenment from the Management Characteristics of Out-Class Sports Club in Japan Soka University.</em> Proceedings of the 21st Pan-Asian Congress of Sports and Physical Education, Education and Management in Sports, World Academic Union, 60-63 (ISTP).
                    </li>
                </ul>
                <p>&nbsp;</p>

                <p><div class="class-title">研究課題</div><br>
                </p>
                <ul>
                    <li class="research-entry"><em>Guidance and Suggestions in Dynamic Stretching among Secondary and Primary Schools in Hong Kong, 2015-2016, Co-I.</em>  Hong Kong Education Bureau. </li>
                    <li class="research-entry"><em>體育公共服務城鄉一體化發展的理論與實證研</em>, 2010-2011, Co-I.  江蘇省哲學社會科學項目省部級課題（批準號09TYB005）</li>
                    <li class="research-entry"><em>體育賽事風險評估指標體系的構建</em>, 2010-2011, Co-I, 江蘇省體育局廳級課題 (批準號TY10303）</li>
                </ul>
                <p>&nbsp;</p>

                <p><div class="class-title">Professional Membership (Ongoing)</div><br>
                </p>
                <ul>
                    <li class="research-entry">American College of Sport Medicine (ACSM) (Since 2015)  </li>
                    <li class="research-entry">Hong Kong Society of Behavioral Health (HKSBH) (Since 2014)</li>
                    <li class="research-entry">Hong Kong Association of Gerontology (Since 2014)</li>
                    <li class="research-entry">Society of Chinese Scholars on Exercise Physiology and Fitness (SCSEPF) (since 2012) </li>
                </ul>
                <p>&nbsp;</p>

                <p><div class="class-title">Community/Professional Services (Ongoing)</div><br>
                </p>
                <ul>
                    <li class="research-entry">Reviewer, Journal of Exercise Science and Fitness (since 2015).
                    </li>
                </ul>
            </div>


            <!-- ################################################################################################ -->

            <!-- ################################################################################################ -->
            <!-- / main body -->
            <div class="clear"></div>
        </main>
    </div></div>
<style type="text/css">
    .class-title{
        margin-top: 32px;
        margin-bottom: 8px;
        color: #555;
        text-decoration: underline;
        font-family: Georgia, "Times New Roman", Times, serif;
        font-size: 16px;
    }
   .research-entry{
        text-indent: -2em;
        padding: 2em;
        padding-top:8px;
        padding-bottom:8px;
    }
</style>