<div class="wrapper row3">
    <div class="rounded" >
        <main class="container clear">
            <!-- main body -->
            <!-- ################################################################################################ -->
            <!-- ################################################################################################ -->
            <!-- ################################################################################################ -->

            <!-- ################################################################################################ -->
            <h1 style="font-family: Arial, Helvetica, sans-serif; font-weight: 900;">Dr. Zheng Jinming - Post-Doctoral Research Fellow</h1>
            <img class="imgr borderedbox people-thumb-image" src="asset/img/people/zhengjnming.jpg" alt="Zheng Jinming">

            <div class="bio">
                <p>PhD in Sport Policy, Loughborough University, UK<br>
                    MSc in Sport Management (With Distinction), Loughborough University, UK<br>
                    BA in Japanese, China Foreign Affairs University, China<br>
                    <br>

                    <div class="class-title">Research Focus</div></p>
                <ul>
                    <li class="research-entry">Sport Policy</li>
                    <li class="research-entry">Elite Sport Development and The Olympic Games</li>
                    <li class="research-entry">Sport Management</li>
                    <li class="research-entry">Sports Diplomacy and International Relations</li>
                    <li class="research-entry">Football Governance and Supporter Behaviour<br>
                        <br>
                    </li>
                </ul>

                <p><div class="class-title">Recent Publications</div><br>
                    <div class="class-title">Edited Book:</div></p>
                <ul>
                    <li class="research-entry">Garcia, B., &amp; <strong>Zheng, J.</strong> (Eds.). (2017). (In Production). <em>Whose Game Is It? Football and
                        Supporter Activism in Europe. </em>Basingstoke: Palgrave Macmillan.
                    </li>
                </ul>
                <p>&nbsp;</p>

                <div class="class-title">Book Chapters:</div>
                <ul>
                    <li class="research-entry"><strong>Zheng, J.</strong>, &amp; Garcia, B. (2017). <em>Conclusions: The rising importance of supporter activism in
                        European football. In B. Garcia & J. Zheng (Eds.), Whose Game Is It? Football and
                        Supporter Activism in Europe (pp. - ).</em> Basingstoke: Palgrave Macmillan.

                    </li>
                    <li class="research-entry">Garcia, B., &amp; <strong>Zheng, J.</strong> (2017).<em> Introduction. In B. Garcia & J. Zheng (Eds.), Whose Game Is
                        It? Football and Supporter Activism in Europe (pp. - )</em>. Basingstoke: Palgrave Macmillan.
                    </li>
                </ul>
                <p>&nbsp;</p>

                <div class="class-title">Peer-Reviewed Journal Articles:</div>
                <ul>
                    <li class="research-entry"><strong>Zheng, J.</strong> (2016). <em>The development of elite cycling in China: 1992-2012. </em>The International
                        Journal of the History of Sport, 1-21. DOI: 10.1080/09523367.2016.1167684.
                    </li>
                    <li class="research-entry"><strong>Zheng, J.</strong>, &amp; Chen, S. (2016). <em>Exploring China's success at the Olympic Games: A
                        competitive advantage approach.</em> European Sport Management Quarterly, 16(2), 148-171.
                        DOI: 10.1080/16184742.2016.1140797.
                    </li>
                    <li class="research-entry"><strong>Zheng, J.</strong> (2015). <em>Hong Kong. International Journal of Sport Policy and Politics</em>, 1-18. DOI:
                        10.1080/19406940.2015.1031813.
                    </li>
                    <li class="research-entry">Houlihan, B., &amp; <strong>Zheng, J.</strong> (2015). <em>Small states: Sport and politics at the margin. International
                        Journal of Sport Policy and Politics</em>, 7(3), 329-344. DOI: 10.1080/19406940.2014.959032.
                    </li>
                    <li class="research-entry">Houlihan, B., &amp; <strong>Zheng, J.</strong> (2013). <em>The Olympics and elite sport policy: Where will it all end?
                        The International Journal of the History of Sport</em>, 30(4), 338-355. DOI:
                        10.1080/09523367.2013.765726.
                    </li>
                </ul>
                <p>&nbsp;</p>


                <p><div class="class-title">Professional Membership (Ongoing)</div><br>
                </p>
                <ul>
                    <li class="research-entry">European Association for Sport Management (EASM) (Since 2016)
                    </li>
                </ul>
            </div>

            <!-- ################################################################################################ -->

            <!-- ################################################################################################ -->
            <!-- / main body -->
            <div class="clear"></div>
        </main>
    </div></div>
<style type="text/css">
    .class-title{
        margin-top: 32px;
        margin-bottom: 8px;
        color: #555;
        text-decoration: underline;
        font-family: Georgia, "Times New Roman", Times, serif;
        font-size: 16px;
    }
   .research-entry{
        text-indent: -2em;
        padding: 2em;
        padding-top:8px;
        padding-bottom:8px;
    }
</style>