<div class="wrapper row3" >
    <div class="rounded">
        <main class="container clear">
        <h1 class="page-title">About Us: Centre for Global Sport & Recreation Studies</h1>
        <div align="center"><img src="asset/img/GSRS_Text_Logo.png" alt="" style="width:28%; height:28%;"></div>
        <p>
            <div style="text-align: justify"><span class="aboutus_darker">Vision:</span> CGSRS’s vision is to become an epicentre global of excellence for innovative and cross-disciplinary and cross-cultural research to sport and recreation industries by building connections among academia, local community and industry through research in Hong Kong and internationally.</div>
            <br />
            <div style="text-align: justify"><span class="aboutus_darker">Mission:</span> The CGSRS aims to create an integrated research and learning environment to produce relevant and timely research that analyses and resolves the challenges within the global sport and recreation industries and that promote sustainable community development.</div>
        </p>
        <span class="aboutus_darker">Balanced Scorecard Objectives (BSO):</span>
        <p>
            Internal Process Perspective
            <ul>
                <li>
                    Becoming a source for pertinent information for all affiliated faculty and student members.
                </li>
                <li>
                    Integrating various developmental and non-developmental faculty across the University into a collective intellectual community.
                </li>
            </ul>
        </p>
        <p>
            Learning Growth Perspective
            <ul>
                <li>
                    Providing a platform to the junior staff to strengthen individual research profiles.
                </li>
                <li>
                    Improving knowledge, skills, and local and international partnership and networks of affiliated staff through joint research activities.
                </li>
            </ul>
        </p>
        <p>
            Customer Value Perspective
            <ul>
                <li>
                    Explicitly focusing on interpretive research methods and critical theories of the body to bolster the research culture of the Department, the Faculty, and the University.
                </li>
                <li>
                    Contributing to the development of sport industry in Asia, especially in Hong Kong via academic research.
                </li>
            </ul>
        </p>

        <p>
            Financial Perspective
            <ul>
                <li>
                    Boosting the number of publications in highly prestigious journals in the fields of sport and recreation management.
                </li>
                <li>
                    Generating funded grant proposals for research activities in the Centre.
                </li>
                <li>
                    Raising funds necessary to support the CGSRS’s research and to attract excellent Masters, Ph.D. students and Postdoctoral researchers.
                </li>
            </ul>
        </p>

        </main>
    </div>
</div>
<style type="text/css">
    .aboutus_darker{
        color:#555;
    }
</style>