<div class="wrapper row3">
    <div class="rounded">
        <div class="container clear">
            <h1 class="page-title">Contact Us</h1>
            <div>
                Room 923, 9/F, Academic and Administration Building<br />
                Centre for Global Sport & Recreation Studies<br />
                Department of Physical Education<br />
                Faculty of Social Sciences<br />
                Hong Kong Baptist University<br />
                Kowloon Tong, Hong Kong<br />
            </div>

            <br />

            <div>
                Please contact either <a href="#people/zhengjinming">Dr. Zheng Jinming</a> or <a href="#people/zhaoyanan">Dr. Zhao Yanan</a> <br />
                Telephone: +852 34116522/+852 34116546 <br />
                Email: <a href="mailto:jinmingzheng@hkbu.edu.hk">jinmingzheng@hkbu.edu.hk</a> / <a href="mailto:ynzhao@hkbu.edu.hk">ynzhao@hkbu.edu.hk</a> <br />
            </div>

            <br />

            <div id="map" style="width:100%; height:300px;background-color:#55ABDA;"></div>

            <script>
                var map;

                function initMap() {
                    var myLatLng = {
                        lat: 22.336514,
                        lng: 114.1824349
                    };
                    var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 18,
                        center: myLatLng
                    });
                    var marker = new google.maps.Marker({
                        position: myLatLng,
                        map: map,
                        title: 'Academic and Administration Building, Hong Kong Baptist University'
                    });
                }
            </script>
            <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>

        </div>
    </div>
</div>
