

<div class="wrapper">
    <div id="slider">
        <div id="slide-wrapper" class="rounded clear">
            <!-- ################################################################################################ -->
            <figure id="slide-1"><a class="view" href="#"><img src="asset/img/demo/slider/slide3.png" alt=""></a>
                <!--
                <figcaption>
                  <h2>HKBU - GSRS</h2>
                  <p>XXX</p>
                  <p class="right"><a href="#">Continue Reading &raquo;</a></p>
                </figcaption>
                -->
            </figure>
            <figure id="slide-2"><a class="view" href="#"><img src="asset/img/demo/slider/slide2.png" alt=""></a>
                <!--
                <figcaption>
                  <h2>HKBU - GSRS</h2>
                  <p>XXX</p>
                  <p class="right"><a href="#">Continue Reading &raquo;</a></p>
                </figcaption>
                -->
            </figure>
            <figure id="slide-3"><a class="view" href="#"><img src="asset/img/demo/slider/slide1.png" alt=""></a>
                <!--
                <figcaption>
                  <h2>HKBU - GSRS</h2>
                  <p>XXX</p>
                  <p class="right"><a href="#">Continue Reading &raquo;</a></p>
                </figcaption>
                -->
            </figure>
            <figure id="slide-4"><a class="view" href="#"><img src="asset/img/demo/slider/slide1.png" alt=""></a>
                <!--
                <figcaption>
                  <h2>HKBU - GSRS</h2>
                  <p>XXX</p>
                  <p class="right"><a href="#">Continue Reading &raquo;</a></p>
                </figcaption>
                -->
            </figure>
            <figure id="slide-5"><a class="view" href="#"><img src="asset/img/demo/slider/slide2.png" alt=""></a>
                <!--
                <figcaption>
                  <h2>HKBU - GSRS</h2>
                  <p>XXX</p>
                  <p class="right"><a href="#">Continue Reading &raquo;</a></p>
                </figcaption>
                -->
            </figure>
            <!-- ################################################################################################ -->
            <ul id="slide-tabs">
                <li><a href="#slide-1">All About The University</a></li>
                <li><a href="#slide-2">Why You Should Study With Us</a></li>
                <li><a href="#slide-3">Education And Student Experience</a></li>
                <li><a href="#slide-4">Alumni And Its Donors</a></li>
                <li><a href="#slide-5">Latest University News &amp; Events</a></li>
            </ul>
            <!-- ################################################################################################ -->
        </div>
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <div class="rounded">
        <main class="container clear">
            <!-- main body -->
            <!-- ################################################################################################ -->
            <div class="group btmspace-30">
                <!-- Left Column -->
                <div class="one_quarter first">
                    <!-- ################################################################################################ -->
                    <ul class="nospace" >
                        <li class="btmspace-15"><a href="#"><em class="heading" style="font-family: Arial, Helvetica, sans-serif; font-weight: 900;">Prospective Students</em> <img class="borderedbox" src="asset/img/demo/220x95.gif" alt=""></a></li>
                        <li class="btmspace-15"><a href="#"><em class="heading" style="font-family: Arial, Helvetica, sans-serif; font-weight: 900;">Current Students</em> <img class="borderedbox" src="asset/img/demo/220x95.gif" alt=""></a></li>
                        <li class="btmspace-15"><a href="#"><em class="heading" style="font-family: Arial, Helvetica, sans-serif; font-weight: 900;">International Students</em> <img class="borderedbox" src="asset/img/demo/220x95.gif" alt=""></a></li>
                        <li><a href="#"><em class="heading" style="font-family: Arial, Helvetica, sans-serif; font-weight: 900;">Alumni</em> <img class="borderedbox" src="asset/img/demo/220x95.gif" alt=""></a></li>
                    </ul>
                    <!-- ################################################################################################ -->
                </div>
                <!-- / Left Column -->
                <!-- Middle Column -->
                <div class="one_half">
                    <!-- ################################################################################################ -->
                    <h2 style="font-family: Arial, Helvetica, sans-serif; font-weight: 900;">Latest News &amp; Events</h2>
                    <ul class="nospace listing">
                        <li class="clear">
                            <div class="imgl borderedbox"><img src="asset/img/demo/120x120.gif" alt=""></div>
                            <p class="nospace btmspace-15"><a href="#">Title</a></p>
                            <p>Write Something</p>
                        </li>
                        <li class="clear">
                            <div class="imgl borderedbox"><img src="asset/img/demo/120x120.gif" alt=""></div>
                            <p class="nospace btmspace-15"><a href="#">Title</a></p>
                            <p>Write Something</p>
                        </li>
                        <li class="clear">
                            <div class="imgl borderedbox"><img src="asset/img/demo/120x120.gif" alt=""></div>
                            <p class="nospace btmspace-15"><a href="#">Title</a></p>
                            <p>Write Something</p>
                        </li>
                    </ul>
                    <p class="right"><a href="#">Click here to view all of the latest news and events &raquo;</a></p>
                    <!-- ################################################################################################ -->
                </div>
                <!-- / Middle Column -->
                <!-- Right Column -->
                <div class="one_quarter sidebar">
                    <!-- ################################################################################################ -->
                    <div class="sdb_holder">
                        <h6 style="font-family: Arial, Helvetica, sans-serif; font-weight: 900;">Virtual Tour</h6>
                        <div class="mediacontainer"><img src="asset/img/demo/video.gif" alt="">
                            <p><a href="#">View More Tour Videos Here</a></p>
                        </div>
                    </div>
                    <div class="sdb_holder">
                        <h6 style="font-family: Arial, Helvetica, sans-serif; font-weight: 900;">Quick Information</h6>
                        <ul class="nospace quickinfo">
                            <li class="clear"><a href="#"><img src="asset/img/demo/80x80.gif" alt=""> Make An Application</a></li>
                            <li class="clear"><a href="#"><img src="asset/img/demo/80x80.gif" alt=""> Order A Prospectus</a></li>
                        </ul>
                    </div>
                    <!-- ################################################################################################ -->
                </div>
                <!-- / Right Column -->
            </div>
            <!-- ################################################################################################ -->
            <!-- ################################################################################################ -->

            <!-- ################################################################################################ -->
            <!-- / main body -->
            <div class="clear"></div>
        </main>
    </div>
</div>

<script src="layout/scripts/tabslet/jquery.tabslet.min.js"></script>
<script src="js/home.js"></script>