

<div class="wrapper">
    <div id="slider">
        <div id="slide-wrapper" class="rounded clear">
            <!-- ################################################################################################ -->
            <figure id="slide-1"><a class="view" href="#"><img src="asset/img/demo/slider/slide1.jpg" alt=""></a>
                <!--
                <figcaption>
                  <h2>HKBU - GSRS</h2>
                  <p>XXX</p>
                  <p class="right"><a href="#">Continue Reading &raquo;</a></p>
                </figcaption>
                -->
            </figure>
            <figure id="slide-2"><a class="view" href="#"><img src="asset/img/demo/slider/slide2.png" alt=""></a>
                <!--
                <figcaption>
                  <h2>HKBU - GSRS</h2>
                  <p>XXX</p>
                  <p class="right"><a href="#">Continue Reading &raquo;</a></p>
                </figcaption>
                -->
            </figure>
            <figure id="slide-3"><a class="view" href="#"><img src="asset/img/demo/slider/slide3.jpg" alt=""></a>
                <!--
                <figcaption>
                  <h2>HKBU - GSRS</h2>
                  <p>XXX</p>
                  <p class="right"><a href="#">Continue Reading &raquo;</a></p>
                </figcaption>
                -->
            </figure>
            <figure id="slide-4"><a class="view" href="#"><img src="asset/img/demo/slider/slide4.jpg" alt=""></a>
                <!--
                <figcaption>
                  <h2>HKBU - GSRS</h2>
                  <p>XXX</p>
                  <p class="right"><a href="#">Continue Reading &raquo;</a></p>
                </figcaption>
                -->
            </figure>
            <figure id="slide-5"><a class="view" href="#"><img src="asset/img/demo/slider/slide5.jpg" alt=""></a>
                <!--
                <figcaption>
                  <h2>HKBU - GSRS</h2>
                  <p>XXX</p>
                  <p class="right"><a href="#">Continue Reading &raquo;</a></p>
                </figcaption>
                -->
            </figure>
            <!-- ################################################################################################ -->
            <ul id="slide-tabs">
                <li><a href="#slide-1">Centre Member Group Picture</a></li>
                <li><a href="#slide-2"> The Director of the Centre</a></li>
                <li><a href="#slide-3">Sport Management</a></li>
                <li><a href="#slide-4">Gerontology and Aging</a></li>
                <li><a href="#slide-5">Sport Policy, Politics, History, Sociology</a></li>
            </ul>
            <!-- ################################################################################################ -->
        </div>
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <div class="rounded">
        <main class="container clear">
            <!-- main body -->
            <!-- ################################################################################################ -->
            <div class="group btmspace-30">
                <!-- Left Column -->

                <!-- / Left Column -->
                <!-- Middle Column -->
                <div>
                    <!-- ################################################################################################ -->
                    <h2 style="font-family: Arial, Helvetica, sans-serif; font-weight: 900;">Welcome to the Centre for Global Sport & Recreation Studies</h2>
                    <ul class="nospace listing">
                        <li class="clear">
                            <div align="center"><img src="asset/img/GSRS_Text_Logo.png" alt="" style="width:28%; height:28%;"></div>
                            <p>CGSRS's vision is to become an epicentre global of excellence for innovative and cross-disciplinary and cross-cultural research to sport and recreation industries by building connections among academia, local community and industry through research in Hong Kong and internationally.</p>
                        </li>
                    </ul>
                    <p class="right"><a href="#news">Click here to view all of the latest news and events &raquo;</a></p>
                    <!-- ################################################################################################ -->
                </div>
                <!-- / Middle Column -->
                <!-- Right Column -->

                <!-- / Right Column -->
            </div>
            <!-- ################################################################################################ -->
            <!-- ################################################################################################ -->

            <!-- ################################################################################################ -->
            <!-- / main body -->
            <div class="clear"></div>
        </main>
    </div>
</div>

<script src="layout/scripts/tabslet/jquery.tabslet.min.js"></script>
<script src="js/home.js"></script>