<div class="wrapper row3">
    <div class="rounded">
        <div class="container clear" ng-controller="newsCtrl">
            <h1 class="page-title" ng-show="seminars.length > 1">Latest News and Events</h1>
            <h1 class="page-title" ng-show="seminars.length == 1"><a href="#news"><i class="fa fa-chevron-left" aria-hidden="true"></i> Latest News and Events</a></h1>
            <div class="news-error">{{ error }}</div>
            <div ng-repeat="seminar in seminars">
                <div class="col-sm-9">
                    <table border="0" data-index={{$index}} width="100%">
                        <thead>
                        <tr><th>Seminar: </th><td>{{ seminar.theme }}<td></tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>Speaker: </th>
                            <td>{{ seminar.speaker }}</td>
                            <td rowspan="7" style="text-align: right" ng-if="!isInDetail && seminar.photos.length>0">
                                <img src="data/{{seminar.photos[0].link}}" style="max-width: 200px"  alt="{{ seminar.theme }}" />
                            </td>
                        </tr>
                        <tr><th>Date: </th>           <td>{{ seminar.date }}</td></tr>
                        <tr><th>Time: </th>           <td>{{ seminar.time }}</td></tr>
                        <tr><th>Venue: </th>          <td>{{ seminar.venue }}</td></tr>
                        <tr><th>Seminar Status: </th> <td>{{ seminar.seminarStatus }}</td></tr>
                        <tr>
                            <th colspan="2">
                                <a href="#news/{{ seminar.ref }}" ng-if="!isInDetail">Photo Album</a>
                                <span ng-if="isInDetail">Photo Album: </span>
                            </th>
                        </tr>
                        </tbody>
                    </table>
                </div>


                <br />

                <div ng-if="seminars.length == 1 && seminar.photos.length > 0" style="text-align: center">
                    <a ng-repeat="photo in seminar.photos" href="data/{{photo.link}}" data-lightbox="{{photo.link}}" data-title="{{photo.caption}}">
                        <img src="data/{{photo.link}}" class="thumb wow fadeIn" data-wow-delay="{{ $index/25 }}s" />
                    </a>
                </div>
            </div>



        </div>
    </div>
</div>
<style type="text/css">


    .news-error{
        text-align: center;
    }
    .thumb{
        width: 20%;
        margin: 4px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;

        -webkit-box-shadow:  0 0 8px black;
        -moz-box-shadow:  0 0 8px black;
        box-shadow:  0 0 8px black;
    }
</style>