<div class="wrapper row3">
    <div class="rounded">
        <div class="container clear" ng-controller="researchCtrl">
            <h1 class="page-title">Research</h1>

            <div class="class-title">Peer-reviewed Journal Articles</div>

            <div class="research-entry">
                Cheung, S. Y., Yue, K., Kwong, T., Lau, P., Ng, A., Lo, Y., Yung, K., Chu, C., Siu, N., Choi, P., & Ng, M. (2016). Using a community of practice to enhance undergraduate students’ graduate attributes through problem-based learning. <em>Learning Communities Journal</em>, 8(2), 71-91.
            </div>
            <div class="research-entry">
                Cheung, S. Y., Mak, J. Y., & Dixon, A. (2016). Elite active sport tourists: Economic impacts and perceptions of destination image.Event Management, 20, 99-108.
            </div>
            <div class="research-entry">
                Choi, P. H., & Cheung, S. Y. (2016). Effects of an 8-week structured physical activity program on psychosocial behaviors of children with intellectual disabilities. <em>Adapted Physical Activity Quarterly</em>, 33, 1-14. doi:10.1123/APAQ.2014-0213.
            </div>
            <div class="research-entry">
                Chung, P. K., Zhao, Y. N., Liu, J. D., & Quach, B. (2016). Functional fitness norms for community-dwelling older adults in Hong Kong. <em>Archives of Gerontology and Geriatrics</em>. doi: 10.1016/j.archger.2016.03.006.
            </div>
            <div class="research-entry">
                Chung, P. K., Zhao, Y. N., Liu, J. D., & Quach, B. (2015). Validity and reliability of the rating of perceived scale in monitoring exercise intensity among Chinese older adults in Hong Kong. <em>Perceptual & Motor Skill</em>. doi: 10.2466/29.PMS.121c24x8.
            </div>
            <div class="research-entry">
                Hong, S., Magnusen, M. J., & Mondello, M. (2015). Collaborative innovation in sport: Conceptualizing the adoption of new Stadium construction from professional sport team and government perspectives. <em>Journal of Physical Education and Sport Management</em>, 6(9), 70-81.
            </div>
            <div class="research-entry">
                Kim, S. (2016). Perceived organizational support as a mediator between distributive justice and sport referees’ job satisfaction and career commitment. <em>Annals of Leisure Research</em>. Doi:10.1080/11745398.2016.1147363.
            </div>
            <div class="research-entry">
                Kim, S., Liu, J., & Love, A. (2015). Event prestige as a mediator between sport involvement and intent to continue participation. <em>Perceptual and Motor Skills</em>, 121(2), 371-389. doi: 10.2466/06.PMS.121c21x2.
            </div>
            <div class="research-entry">
                Kim, S., Liu, J., & Love, A. (2016). The impact of event prestige on intent to continue sport participation. <em>Journal of Sport Behavior</em>, 39(2).
            </div>
            <div class="research-entry">
                Kim, S., Magnusen, M.J., & Andrew, D.P.S., (In Press). Sport organizational culture: Investigating the relationship between intra-team communication and team commitment via team cohesion, <em>International Journal of Sport Science and Coaching.</em>
            </div>
            <div class="research-entry">
                Kim, S., Magnusen, M. J., & Andrew, D. P. S. (In Press). Sport team culture: Investigating how vertical and horizontal communication influence citizenship behaviors via organizational commitment. <em>International Journal of Sport Psychology.</em>
            </div>
            <div class="research-entry">
                Lee, S., Kim, S., Eagleman, A., & Wang, S. (In Press). Coverage of sports gambling from 2009 to 2013 in U.S. newspapers: An analysis of newspaper article framing. <em>Journal of Sport Media.</em>
            </div>
            <div class="research-entry">
                Leung, K. M., Chung, P. K., & Kim, S. (In Press). Parents’ perceptions of children’s physical activity in Hong Kong. <em>European Physical Education Review.</em>
            </div>
            <div class="research-entry">
                Mak, J. Y., Cheung, S. Y., King, C. C., & Lam, E. T. (2016). Validation of the Olympic Games attitude scale (OGAS): Evidence from exploratory and confirmatory factor analyses. <em>Measurement in Physical Education and Exercise Science.</em> doi:10.1080/1091367X.2016.1146143.
            </div>
            <div class="research-entry">
                Yip, W. C., Kim, S., & Love, A. (In Press). Sport referees’ quality of work life, job satisfaction, career commitment, and turnover. <em>International Journal of Sport Management.</em>
            </div>
            <div class="research-entry">
                Zhao, Y. N., Chung, P. K., & Tong, T. K. (In Press). Effectiveness of a community-based exercise program on balance performance and fear of falling in older nonfallers at risk of falling: A randomized, controlled study. <em>Journal of Aging and Physical Activity.</em>
            </div>
            <div class="research-entry">
                Zhao, Y. N., & Chung, P. K. (2016). Differences of functional fitness between older adults with and without risk of falls. <em>Asian Nursing Research</em>. doi:10.1016/j.anr.2015.10.007
            </div>
            <div class="research-entry">
                Zhao, Y. N., & Chung, P. K. (2015). A preliminary design for a community-based exercise program for balance improvement and fall prevention. International <em>Journal of Sports and Physical Education</em>, 1(2), 5-14.
            </div>
            <div class="research-entry">
                Zheng, J. (In Press). A policy analysis of the development of elite swimming in China since 2000: A National Team perspective. <em>The International Journal of the History of Sport.</em>
            </div>
            <div class="research-entry">
                Zheng, J. (2016). Hong Kong. <em>International Journal of Sport Policy and Politics</em>, 8(2), 321-338. doi: 10.1080/19406940.2015.1031813.
            </div>
            <div class="research-entry">
                Zheng, J. (2016). The development of elite cycling in China: 1992-2012. <em>The International Journal of the History of Sport</em>, 33(5), 586-606. doi: 10.1080/09523367.2016.1167684.
            </div>
            <div class="research-entry">
                Zheng, J., & Chen, S. (2016). Exploring China’s success at the Olympic Games: A competitive advantage approach. <em>European Sport Management Quarterly</em>, 16(2), 148-171. doi: 10.1080/16184742.2016.1140797.
            </div>

            <div class="class-title">Professional Journal Articles</div>

            <div class="research-entry">
                趙亞楠，鍾伯光 (2016) 從功能性體適能角度透視長者跌倒問題.《紫荊論壇》，雙月刊總第25期, 頁87-90.
            </div>

            <div class="class-title">Academic conference</div>

            <div class="research-entry">
                Hong, S. & Forester, B. (31<sup>st</sup> , May – 4<sup>th</sup> , June, 2016). A critical review of determinant factors of attendance demand. 2016 Conference of North American Society for Sport Management, Orlando, Florida, U.S.
            </div>
            <div class="research-entry">
                Zhao, Y. N. & Chung, P. K. (16<sup>th</sup> – 17<sup>th</sup>, January 2016). The effect of a community-based exercise program on balance performance and fear of falling among older nonfallers at risk of falling: A randomized controlled study. International Behavioral Health Conference, Hong Kong, China.
            </div>
            <div class="research-entry">
                Zhao, Y. N., Chung, P. K., Liu, J. D., & Quach, B. (7<sup>th</sup> – 10<sup>th</sup>, December 2016). A correlation analysis on the relationships between functional fitness and quality of life in older adults. Behavioral medicine: Making an impact in the modern world, Melbourne, Australia.
            </div>
            <div class="research-entry">
                Zheng, J. (27<sup>th</sup> June – 1<sup>st</sup> July, 2016). China’s Elite Sport Success at the Olympics: Why & How. International Leverhulme project: Strategies for leveraging sports mega-events. University of Birmingham, UK.
            </div>

        </div>
    </div>
</div>
<style type="text/css">
    .class-title{
        margin-top: 32px;
        margin-bottom: 8px;
        color: #555;
        text-decoration: underline;
        font-family: Georgia, "Times New Roman", Times, serif;
        font-size: 16px;
    }
    .research-entry{
        text-indent: -2em;
        padding: 2em;
        padding-top:8px;
        padding-bottom:8px;
    }
</style>